:root {
    
    --MAIN-TEXT-color:#323232; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #5e5e5e; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color:#1C90F3; /* Color of links */
    --MAIN-LINK-HOVER-color:#167ad0; /* Color of hovered links */
    --MAIN-ANCHOR-color: #1C90F3; /* color of anchors on titles */

    --MENU-HEADER-BG-color:#1C90F3; /* Background color of menu header */
    --MENU-HEADER-BORDER-color:#33a1ff; /*Color of menu header border */ 

    --MENU-SEARCH-BG-color:#167ad0; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #33a1ff; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #a1d2fd; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color:#20272b; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color:#252c31; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #ccc; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #e6e6e6;  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #777; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #fff; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #33a1ff; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #20272b; /* Color of <hr> separator in menu */
    
}

body {
    color: var(--MAIN-TEXT-color) !important;
}

textarea:focus, 
input[type="email"]:focus, 
input[type="number"]:focus, 
input[type="password"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="text"]:focus, 
input[type="url"]:focus, 
input[type="color"]:focus, 
input[type="date"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

a {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-weight: 700;
    line-height: 1.25;
    padding: 2px 6px;
    white-space: nowrap;
}

#sidebar ul li.visited > a .read-icon {
    color: var(--MENU-VISITED-color);
    display: inline;
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}
#sidebar {
    background-color: var(--MENU-SECTIONS-BG-color);
}
#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}
#sidebar .searchbox {
    border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}
#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}
#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}
#sidebar a#my-site {
    color: rgb(45, 45, 45);
}
#sidebar a#my-site:hover {
    color: rgb(20, 20, 20);
}
#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}
#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}
#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}
div.notices.info p:first-child:before {
    content: "\f05a";
    font-size: 18px;
}
div.notices.info p:first-child:after {
    font-size: 18px;
    padding-left: 6px;
}
div.notices.warning p:first-child:before {
    content: "\f071";
    font-size: 18px;
}
div.notices.warning p:first-child:after {
    font-size: 18px;
    padding-left: 6px;
}
div.notices.note p:first-child:before {
    content: "\f249";
    font-size: 18px;
}
div.notices.note p:first-child:after {
    font-size: 18px;
    padding-left: 6px;
}
div.notices.tip p:first-child:before {
    content: "\f0eb";
    font-size: 18px;
}
div.notices.tip p:first-child:after {
    font-size: 18px;
    padding-left: 6px;
}
.edgeLabel {
    border-radius: 5px;
    padding: 5px;
    margin-left: -2.5px;
}
.attachments > label {
    font-size: 18px;
}
.attachments > label > i {
    padding-right: 6px;
}

.wave {
    animation: wave 0.25s alternate infinite;
}

@keyframes wave {
    0% { transform: rotate(-10deg); }
    15% { transform: rotate(-6deg); }
    85% { transform: rotate(6deg); }
    100% { transform: rotate(10deg); }
}

code.language-csharp.hljs {
    font-size: 1.1rem;
}

#body-inner > ol > li > p {
    text-align: left;
}